
/* Properties */
.properties {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.property-card-mini {color: #26366B;
    flex: 0 0 calc(25% - 20px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    border-radius: 5%;
    padding: 20px;
}

.property-card-mini:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card-mini img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5%;
}

.property-card-mini h3 {
    font-size: 24px;
    margin: 10px;
}

.property-card-mini p {
    font-size: 16px;
    margin: 20px;
}


.container {
    width: 100%;
    margin: 0 ;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}
