.service {
    width: 80%;
    border-radius: 8px;
    background-color: #f5f5f5;
    color: #26366B;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 40px 0px;
    padding: 40px;
}

.service div {
    width: 49%;
    padding: 10px;
}

.service div img {
    border-radius: 8px;
}

.service div p {
    margin-bottom: 30px;
}

.service div h2 {
    margin-bottom: 30px;
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
    .service {
        width: 90%;
        /* Пример ширины блока */
        padding: 20px;
        /* Пример отступов */
        flex-direction: column;
        /* Изменение направления блока на вертикальное */
        align-items: center;
        /* Выравнивание элементов по центру */
    }

    .service div {
        width: 100%;
        /* Пример ширины блока */
        margin-bottom: 20px;
        /* Пример отступов */
    }

    .service div img {
        width: 100%;
        /* Пример ширины изображения */
        height: auto;
        /* Автоматическая высота изображения */
    }

    .service div p,
    .service div h2 {
        margin-bottom: 15px; /* Измененный отступ для меньших экранов */
    }
}