.footer {
    width: 90%;
    color: #fff;
    background-color: #26366B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.iconsNetworks {
    margin: 10px;
    font-size: 40px;
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
    .footer {
        padding: 20px;
    }

    .footer div {
        width: calc(100% / 3);
        font-size: 10px;
        margin: 0px 10px 0px 10px;
    }

    .telephon_number {
        font-size: 15px;
    }

    .iconsNetworks {
        font-size: 30px;
    }

    .follow {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}